
/*//////////////////////////////////////////////////////////////Tag Selectors///////////////////////////////////////////////*/

body {
  background-color: #e8f8f8;
}

hr {
  color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 4%;
}

h1 {
  color: #007171;
}

h3 {
  color: #52d0d0;
}

/*//////////////////////////////////////////////////////////////Class Selectors///////////////////////////////////////////////*/

.name:hover {
  color: rgb(105, 89, 0);
}
